### Linear Regression on Diabetes data/Diabetes Prediction

In [1]:
pip install scikit-learn

Requirement already satisfied: scikit-learn in /opt/anaconda3/lib/python3.13/site-packages (1.6.1)
Requirement already satisfied: numpy>=1.19.5 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn) (2.1.3)
Requirement already satisfied: scipy>=1.6.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn) (1.15.3)
Requirement already satisfied: joblib>=1.2.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in /opt/anaconda3/lib/python3.13/site-packages (from scikit-learn) (3.5.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:

import pandas as pd
from sklearn.datasets import load_diabetes
diabetes = load_diabetes()
df = pd.DataFrame(data=diabetes.data, columns=diabetes.feature_names)
df

          age       sex       bmi  ...        s4        s5        s6
0    0.038076  0.050680  0.061696  ... -0.002592  0.019907 -0.017646
1   -0.001882 -0.044642 -0.051474  ... -0.039493 -0.068332 -0.092204
2    0.085299  0.050680  0.044451  ... -0.002592  0.002861 -0.025930
3   -0.089063 -0.044642 -0.011595  ...  0.034309  0.022688 -0.009362
4    0.005383 -0.044642 -0.036385  ... -0.002592 -0.031988 -0.046641
..        ...       ...       ...  ...       ...       ...       ...
437  0.041708  0.050680  0.019662  ... -0.002592  0.031193  0.007207
438 -0.005515  0.050680 -0.015906  ...  0.034309 -0.018114  0.044485
439  0.041708  0.050680 -0.015906  ... -0.011080 -0.046883  0.015491
440 -0.045472 -0.044642  0.039062  ...  0.026560  0.044529 -0.025930
441 -0.045472 -0.044642 -0.073030  ... -0.039493 -0.004222  0.003064

[442 rows x 10 columns]

In [3]:
df
df.info()
df.corr()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 442 entries, 0 to 441
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   age     442 non-null    float64
 1   sex     442 non-null    float64
 2   bmi     442 non-null    float64
 3   bp      442 non-null    float64
 4   s1      442 non-null    float64
 5   s2      442 non-null    float64
 6   s3      442 non-null    float64
 7   s4      442 non-null    float64
 8   s5      442 non-null    float64
 9   s6      442 non-null    float64
dtypes: float64(10)
memory usage: 34.7 KB

                age           sex  ...            s5            s6
count  4.420000e+02  4.420000e+02  ...  4.420000e+02  4.420000e+02
mean  -2.511817e-19  1.230790e-17  ...  9.293722e-17  1.130318e-17
std    4.761905e-02  4.761905e-02  ...  4.761905e-02  4.761905e-02
min   -1.072256e-01 -4.464164e-02  ... -1.260971e-01 -1.377672e-01
25%   -3.729927e-02 -4.464164e-02  ... -3.324559e-02 -3.317903e-02
50%    5.383060e-03 -4.464164e-02  ... -1.947171e-03 -1.077698e-03
75%    3.807591e-02  5.068012e-02  ...  3.243232e-02  2.791705e-02
max    1.107267e-01  5.068012e-02  ...  1.335973e-01  1.356118e-01

[8 rows x 10 columns]

In [4]:
X = df.drop(columns='s6')
y = df['s6']
X,y

(          age       sex       bmi  ...        s3        s4        s5
 0    0.038076  0.050680  0.061696  ... -0.043401 -0.002592  0.019907
 1   -0.001882 -0.044642 -0.051474  ...  0.074412 -0.039493 -0.068332
 2    0.085299  0.050680  0.044451  ... -0.032356 -0.002592  0.002861
 3   -0.089063 -0.044642 -0.011595  ... -0.036038  0.034309  0.022688
 4    0.005383 -0.044642 -0.036385  ...  0.008142 -0.002592 -0.031988
 ..        ...       ...       ...  ...       ...       ...       ...
 437  0.041708  0.050680  0.019662  ... -0.028674 -0.002592  0.031193
 438 -0.005515  0.050680 -0.015906  ... -0.028674  0.034309 -0.018114
 439  0.041708  0.050680 -0.015906  ... -0.024993 -0.011080 -0.046883
 440 -0.045472 -0.044642  0.039062  ... -0.028674  0.026560  0.044529
 441 -0.045472 -0.044642 -0.073030  ...  0.173816 -0.039493 -0.004222

 [442 rows x 9 columns],
 0     -0.017646
 1     -0.092204
 2     -0.025930
 3     -0.009362
 4     -0.046641
          ...
 437    0.007207
 438    0.044485
 439    0.015491
 440   -0.025930
 441    0.003064
 Name: s6, Length: 442, dtype: float64)

In [5]:
from sklearn.model_selection import train_test_split

#Create Train And Test DAta
X_train, X_test,y_train,y_test = train_test_split(X, y, test_size = 0.2)

X_train, X_test

(          age       sex       bmi  ...        s3        s4        s5
 245 -0.027310 -0.044642 -0.035307  ...  0.030232 -0.039493 -0.049872
 39  -0.001882  0.050680  0.014272  ... -0.013948 -0.002592  0.019196
 28   0.052606 -0.044642 -0.021295  ... -0.006584 -0.039493 -0.000612
 199  0.041708 -0.044642 -0.045007  ...  0.037595 -0.014401  0.089897
 371  0.052606  0.050680 -0.009439  ... -0.013948  0.034309  0.119340
 ..        ...       ...       ...  ...       ...       ...       ...
 264  0.034443  0.050680  0.028284  ... -0.050764 -0.002592 -0.059471
 414  0.081666  0.050680  0.006728  ... -0.032356  0.091875  0.054720
 167  0.070769 -0.044642  0.069241  ... -0.036038  0.039106  0.077637
 388  0.052606  0.050680 -0.024529  ... -0.021311 -0.002592  0.026717
 266 -0.052738  0.050680 -0.062252  ...  0.122273 -0.076395 -0.086827

 [353 rows x 9 columns],
           age       sex       bmi  ...        s3        s4        s5
 11   0.027178  0.050680  0.017506  ... -0.065491  0.071210 -0.096435
 98   0.001751  0.050680 -0.005128  ...  0.008142 -0.039493 -0.006081
 17   0.070769  0.050680  0.012117  ... -0.039719  0.034309  0.027364
 103  0.059871  0.050680  0.041218  ... -0.036038  0.034309 -0.010903
 344 -0.107226 -0.044642 -0.011595  ... -0.013948  0.034309  0.007027
 ..        ...       ...       ...  ...       ...       ...       ...
 142  0.041708  0.050680  0.012117  ...  0.004460 -0.002592  0.045604
 220  0.023546  0.050680 -0.039618  ...  0.011824 -0.039493 -0.101640
 179 -0.023677 -0.044642 -0.015906  ... -0.043401  0.034309  0.014074
 3   -0.089063 -0.044642 -0.011595  ... -0.036038  0.034309  0.022688
 138  0.034443  0.050680  0.111276  ... -0.021311 -0.002592  0.028020

 [89 rows x 9 columns])

In [ ]:
y_train, y_test

Create & Train Model
model = LinearRegression() model.fit(X_train, y_train)

Predict
y_predicted = model.predict(X_test)

Evaluate Model Performance
MAE MSE RMSE = root_mean_squared_error(y_predicted, y_test)

In [6]:

from sklearn.linear_model import LinearRegression
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)
lr_model.coef_

array([ 0.14126353,  0.08292969,  0.16680717,  0.11771625,  0.08551303,
       -0.03419902, -0.0301592 ,  0.1263854 ,  0.16787321])

In [7]:
y_predicted = lr_model.predict(X_test)
y_predicted

array([ 0.00055688, -0.00408347,  0.03510653,  0.02647769, -0.01665676,
       -0.02940455,  0.01996694, -0.01103218, -0.02546607,  0.03285374,
       -0.05593143,  0.02115565,  0.01374791,  0.03243339,  0.0035586 ,
       -0.00377136, -0.03623091,  0.01943524,  0.00247322,  0.00168551,
       -0.00612795,  0.01676292,  0.04761679,  0.00689234, -0.01830479,
        0.00048533,  0.02084788, -0.03420156, -0.03112785,  0.05205121,
        0.02240439,  0.02091733,  0.00180807, -0.01277744, -0.04259413,
        0.00738727, -0.00862843, -0.01695318,  0.0202065 , -0.02009979,
       -0.02087982, -0.00307757,  0.03091335,  0.02000781,  0.02853927,
        0.04576024,  0.00238908, -0.03801755, -0.01773217, -0.03021034,
       -0.01293053,  0.01017633, -0.0250541 ,  0.05741992, -0.03632385,
       -0.01446332, -0.01168102,  0.03724855,  0.04482691,  0.01394298,
        0.04606583,  0.01642137, -0.02489639,  0.04668903,  0.00344245,
        0.00447369,  0.01842384,  0.04319348,  0.06278136,  0.01889784,
       -0.03998316, -0.0253111 ,  0.00440829,  0.03226457, -0.05391227,
        0.02576179,  0.0001295 , -0.05231816,  0.00853996,  0.01984086,
       -0.00954294, -0.0351923 ,  0.01660547,  0.00804482,  0.02797713,
       -0.02425993, -0.00193856, -0.01221804,  0.0410393 ])

In [8]:
X_test

          age       sex       bmi  ...        s3        s4        s5
11   0.027178  0.050680  0.017506  ... -0.065491  0.071210 -0.096435
98   0.001751  0.050680 -0.005128  ...  0.008142 -0.039493 -0.006081
17   0.070769  0.050680  0.012117  ... -0.039719  0.034309  0.027364
103  0.059871  0.050680  0.041218  ... -0.036038  0.034309 -0.010903
344 -0.107226 -0.044642 -0.011595  ... -0.013948  0.034309  0.007027
..        ...       ...       ...  ...       ...       ...       ...
142  0.041708  0.050680  0.012117  ...  0.004460 -0.002592  0.045604
220  0.023546  0.050680 -0.039618  ...  0.011824 -0.039493 -0.101640
179 -0.023677 -0.044642 -0.015906  ... -0.043401  0.034309  0.014074
3   -0.089063 -0.044642 -0.011595  ... -0.036038  0.034309  0.022688
138  0.034443  0.050680  0.111276  ... -0.021311 -0.002592  0.028020

[89 rows x 9 columns]

In [9]:
from sklearn.metrics import mean_absolute_error, root_mean_squared_error, mean_squared_error, r2_score

lr_mae = mean_absolute_error(y_predicted, y_test)
lr_mse = mean_squared_error(y_predicted, y_test)
lr_rmse = root_mean_squared_error(y_predicted, y_test)

lr_mae, lr_mse, lr_rmse

(0.031036821968151815, 0.0014752339800907903, 0.03840877477987016)